.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5d9a93;
  padding: 20px;
}



.notepad {
  width: 800px; /* Ancho del bloc de notas */
  border: 2px solid #333;
  border-radius: 8px;
  overflow: hidden; /* Para que el título y el textarea se vean juntos */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.notepad-title {
  background-color: #444;
  color: white;
  padding: 8px;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}

#editor {
  width: 100%;
  height: 200px; /* Ajusta la altura según necesites */
  border: none;
  padding: 10px;
  font-size: 14px;
  font-family: monospace;
  resize: none; /* Evita que el usuario redimensione el textarea */
  outline: none;
  box-sizing: border-box;
}

#preview {
  background-color: wheat;
  min-height: 200px;
}
.Encabezado {
  background-color: aqua;
}
